
.hero {
    display: flex;
}

.left {
    width: 70vw;
    margin: 0 10px 0 120px;
}

.left img {
    object-fit: cover;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin-top: 20px;
}

.heading {
    width: 50%;
}

.heading h1 {
    font-size: 70px;
    font-weight: bolder;
    line-height: 70px;
}

.text {
    width: 50%;
    padding: 0 0 0 25px;
}

.text p {
    margin-bottom: 40px;
    color: rgb(109, 109, 109);
}

.text a {
    background-color: rgb(255, 120, 71);
    padding: 15px 35px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.right {
    width: 30vw;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 20px 30px;
    margin-right: 120px;
}

.right h1 {
    color: rgb(255, 177, 32);
    font-size: 40px;
    margin-bottom: 20px;
}

.right h3 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 5px;
}

.right p {
    font-size: 13px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.521);
    line-height: 20px;
}

.line {
    background-color: rgba(255, 255, 255, 0.219);
    height: 1px;
    width: 100%;
    margin: 30px 0;
}

@media only screen and (max-width: 760px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left {
        width: 100vw;
        padding: 20px;
        margin: 20px;
        margin-top: 0;
    }

    .left img {
       height: 200px;
    }

    .content {
        flex-direction: column;
    }
    
    .heading {
        width: 100%;
    }
    
    .heading h1 {
        font-size: 40px;
        line-height: 45px;
    }
    
    .text {
        width: 100%;
        padding: 20px 0 20px 0;
        line-height: 30px;
    }
    
    .text a {
        padding: 20px 35px;
    }

    .right {
        width: 90vw;
        padding: 20px;
        margin: 20px;
    }
    
    .right h3 {
        font-size: 22px;
    }
    
    .right p {
        font-size: 18px;
    }


}