.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 120px;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation ul li {
    padding: 0 20px;
}